@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 400;
	  src: local(''), url('/fonts/lato-latin-regular.woff2') format('woff2');
	  font-display: swap;
	}
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 900;
	  src: local(''), url('/fonts/lato-latin-black.woff2') format('woff2');
	  font-display: swap;
	}
	html {
    @apply bg-warm-gray-300 text-gray-600;
  }
	html.dark {
    @apply bg-cool-gray-800 text-cool-gray-300;
  }
	body.nav-opened {
    @apply fixed w-full h-full overflow-hidden;
  }
  input {
    filter: none;
  }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}